###
# TIKCA Configuration
##

[agent]
name                    = "tikcatest"
address                 = "tikcatest.loc"
ignore_timezone         = "True"    # right now, tikca ignores the timezones anyway. sorry to say.
# update_frequency: interval in seconds between updates to opencast core
update_frequency        = 5
# cal_lookahead: how many days should the capture agent look ahead?
cal_lookahead           = 14



[server]
url                     = "https://nfldevocaio2.rus.uni-stuttgart.de"
username                = "opencast_system_account"
password                = "CHANGE_ME"
version                 = "3"
# autostart (bool): record automatically when scheduled (for rooms without ctrl station)
autostart               = False




[capture]
# directory: ...in which the recordings should be stored
directory               = "/srv/recordings/"
# sources: list of recording sources later to be defined under "sources" (see below)
sources                 = src1, src2, src3
# stopafterpaused: time in minutes after which a paused recording is considered finished
stopafterpaused         = 15
# maxduration: time in minutes after which a recording is stopped (assuming somebody forgot to hit stop button)
maxduration             = 360
stdflavor_audio         = presenter-audio/source
retry                   = 4
retrywait               = 20




[sources]
    [[src1]]
    uri                = "udp://239.25.1.1:5555"
    stdflavor          = "presentation/source"
    fn_orig            = "stream1.mts"
    prefix_upfile      = "src1"
    iface              = "eth0"
    adminhost          = "172.25.7.32"

    [[src2]]
    uri                = "udp://239.25.1.1:5556"
    stdflavor          = "presenter/source"
    fn_orig            = "stream2.mts"
    prefix_upfile      = "src2"
    iface              = "eth0"
    adminhost          = "172.25.7.34"

    [[src3]]
    uri                = "udp://239.25.1.1:5556"
    stdflavor          = "presenter/source"
    fn_orig            = "stream2.mts"
    prefix_upfile      = "src3"
    iface              = "eth0"
    adminhost          = "172.25.7.34"



[udp]
# this is needed for communication with CRESTRON stuff
ctrlstation             = "172.25.0.36"
listenhost              = "127.0.0.1"
listenport              = 8888
sendport                = 8889
# Is every host allowed to give commands? If so, set to "*".
allowedhost             = "*"
endchar_send            = "\n"
endchar_rcv             = "\n"



[outlet]
# This can be used to set GUDE outlets to different states
update_frequency        = 1
# List of hosts and the respective outlets on the hosts
hosts                   = "172.25.0.33", "172.25.0.33"
outletnrs               = 2, 2
users                   = "root", "root"
passwords               = "admin", "admin"



[ingester]
# Here, you can define the behaviour of the ingester service
# looptime: interval between two ingester runs
looptime                = 1     # in minutes
retrytimes              = 5     # number of tries to ingest a package
# probe: which command to use for probing the file(s) (supported: ffprobe or avprobe)
probe                   = "avprobe"
# moveto: subdir to move ingested files to. Leave empty if this is not intended
moveto                  = "ingested"
# ingestas:
#   "mux": mux a mp4 file.
#   "split": split mpegts to mkv and aac.
#  (default: mux)
ingestas                = "mux"
# del_after_ing: should the mp4/mkv/aac file(s) be deleted after successful ingest?
# (N.B.: The original mpegts files will *never* be deleted)
del_after_ingest        = True



[unscheduled]
# seriesid in which unscheduled recordings should be uploaded
serid                   = "c2a185a3-0bf4-4163-b241-6eface8ae92b"
# workflow with which unscheduled recordings should be uploaded
workflow                = "aonly"




[logging]
logdir                  = "/var/log/tikca/"
fn                      = "tikca.log"
comm                    = "udpcomm.log"
ingestfn                = "ingester.log"




[watch]
df_time                 = 3600   # time between checks in seconds
df_space                = 4000   # minimum free space in MB - below that, no recording will be split/muxed
enc_check               = True   # check whether the encoders are up
enc_time                = 30     # time between checks of encoder pings in seconds
mail                    = False
mailto                  = "your@mailadress.com"
mailserver              = "mailrelay.yourhost.com"
maillogin               = "login"
mailpassword            = "password42"
